/* css for like-post icon */
a{
    text-decoration:none; 
    color:inherit; 
    cursor: pointer;
  }
  .like-post{
    display: inline-block;  
  }
   .like-post .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100vw * (45 / 1920));
      height: calc(100vw * (45 / 1920));
  
      border-radius: 50%;
      border: solid 2px #eaeaea;
      background-color: #fff;
  }
  
  .icon.heart img{
      width: calc(100vw * (24 / 1920));
      height: calc(100vw * (24 / 1920));
  }
  
  .icon.heart.fas{
    color:red
  }
  .heart{
      transform-origin: center;
  }
  .heart.active img{
      animation: animateHeart .3s linear forwards;
  }
  
  @keyframes animateHeart{
      0%{transform:scale(.2);}
      40%{transform:scale(1.2);}
      100%{transform:scale(1);}
    }

    /* css for scrap-post icon */
    a{
        text-decoration:none; 
        color:inherit; 
        cursor: pointer;
      }
      .scrap-post{
        display: inline-block;
      }
       .scrap-post .icon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100vw * (45 / 1920));
          height: calc(100vw * (45 / 1920));
      
          border-radius: 50%;
          border: solid 2px #eaeaea;
          background-color: #fff;
      }
      
      .icon.star img{
          width: calc(100vw * (24 / 1920));
          height: calc(100vw * (24 / 1920));
      }
      
      .icon.star.fas{
        color:yellow
      }
      .star{
          transform-origin: center;
      }
      .star.active img{
          animation: animateStar .3s linear forwards;
      }
      
      @keyframes animateStar{
          0%{transform:scale(.2);}
          40%{transform:scale(1.2);}
          100%{transform:scale(1);}
        }
        
        /* 신고 */
        #abuseBtn{
          float: right;
          padding: 0 2px;
          height: 20px;
          line-height: 20px;
          color: #6c757d;
          background-color: white;
          /* font-size: 12px; */
          background-repeat: no-repeat;
          background-position: left center;
          border: 0;
          outline: 0;
        }

        /* 팝업 시 검은 배경 */
        .modalwrap {
          display: none;
          position: fixed;
          z-index: 999;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: .5;
          /* filter: alpha(opacity=50); */
        }

        .abuseForm {
          padding: 25px;
          width: 400px;
          box-sizing: border-box;
    
            display: none;
            position: fixed;
            z-index: 1000;
            left: 50%;
            top: 50%;
            background-color: #fff;

            margin-left: -245px;
            margin-top: -187px;
        }

        /* X */
        .abuseForm a.close {
          display: block;
          float: right;
          width: 20px;
          height: 20px;
          background: transparent url(../assets/img_close.png) no-repeat center center;
          background-size: 15px 15px;
          cursor: pointer;
        }

        a.close {
          color: #666;
          text-decoration: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .abuseForm h3{
          margin-bottom: 15px;
          color: #292929;
          font-size: 18px;
          font-weight: normal;
        }

        ul{
          list-style: none;
        }

        * {
          margin: 0;
          padding: 0;
        }

        .abuseForm ul > li > a {
            display: block;
            line-height: 40px;
            border-bottom: 1px solid #e3e3e3;
            color: #292929;
            font-size: 14px;
            cursor: pointer;
        }

        .abuseForm ul > li > a:hover {
          font-weight: bold;
        }
      